 footer {
    background-color: steelblue;
    color: white;
}

.footer p {
    padding: 25px;
}

footer h3{
color:rgb(253, 217, 11); ;
padding:10px;    
}

footer h3 a:hover{
    color: white;
    background-color: steelblue;  
}
 
footer{
    height:180px;
    line-height:0%;
       
}

footer{
    padding:0%;
}
.main p{
    margin: 50px auto; 
}

.main p{
    padding:0 auto;
}


h1 {
    margin: 50px 0;
}


nav {
    background-color: steelblue;
     
}
a {
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
}

 #background{
    height:725px;
     background-color: rgb(253, 217, 11);
 }
  

nav a {
    color: white;
  }
  nav a:hover {
    color: white;
    background-color: steelblue;
  }
  
 
 



h4 a{
    color: black;
          
}

nav {
    margin: 5px;
    padding-top: 80px;
   
}
 


.nav a {
    text-align:center;
    color: white;
}

a {
    padding: 1px;
     
}


body {
    margin: 0
   
}


body{
    background-color: whitesmoke;

}


.book{
color:black;  
      
}

.card-img{
    border: 4px solid rgb(253, 217, 11); 
width:300px;
padding: 12px; 
}

home-title{
margin-top: 100px;
}
    


.rafting-boat{
    border: 4px solid steelblue; 
    height: 250px; 
}   

#hero-img{
    border: 4px solid rgb(253, 217, 11);
    width: 99%;   
}
.logo{
    width:80px;
    
}
.home-title{
text-align: center;
color: #0C0CF1;;
font-family: Brush Script MT;
}

.second{
    text-align: center;
    color: rgb(253, 217, 11);
    font-family: Brush Script MT;
 
}

.five {
    text-align: center;
    font-family: Brush Script MT;
    text-decoration: none;
    line-height: normal;
    color: black;
     
}
 

.home-grid a:hover{
    color: rgb(253, 217, 11);
    background-color: steelblue;    
} 

.conteneur{
color: #D4AC0D;
 }

 





.rafting1-card {
    text-align: center;
    color: #0C0CF1;
    font-family: Brush Script MT;    
}


.camping-card {
text-align: center;
    color: #0C0CF1;
    font-family: Brush Script MT;
}

main section{
    text-align: center;    
}
 

.rapids-card {
    text-align: center;
        color: #0C0CF1;
        font-family: Brush Script MT;
    }

rafting-boat{
    text-align: center;
    color: #0C0CF1;
    font-family: Brush Script MT;  
} 

.msg{
  background-color: steelblue;  
}

.msg h2{
    text-align: center;
    color: white;
}
.msg p{
    text-align: left;
}
p{
    color: white;    
}

.msg a{
    color: black;
    text-align: center;   
}
.join{
    background-color: #D4AC0D;
    text-decoration:none;
    
}
.join:hover{
    color:white;
    background-color: steelblue;      
}

a{
    text-align: center;
}
.button-box a{
    text-align: center;
}
h2{
    text-align: center;
}
